body, html{
	margin: 0;
	padding: 0;
}

html{
	position: relative;background: #111111;
	height: 100%;
	width: 100%;
	background: linear-gradient(to left, #222, #111);
	background: -moz-linear-gradient(to left, #222, #111);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	backface-visibility: visible;
	background-image: url(resources/bg.jpg);
}

#content{
	display: flex;
	flex-direction: column;
}

#portrait{
	background-color: rgba(100, 000, 000, 1);
	background-color: cadetblue;
	width: auto;
	text-align: center;
	/*margin-top: 100px;*/
	margin-bottom: 20px;
	height: 100px;
}

#rotate {
	animation:spin2 00s linear infinite;

}

#portrait img{
	position: relative;
	width: 150px;
	height: auto;
	border: solid 16px linear-gradient(to left, #222, #111);
	border: solid 16px black;
	border-radius: 90px;
	background: white;
	overflow: hidden;
	/*	margin-top: -90px;*/
	animation:spin 0s linear infinite;
	backface-visibility: visible;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

#para_info{
	color: red;
	overflow: hidden;
}

@keyframes hide_para {
	0% {
		transform: translateY(-100%);
		opacity: 1;
	}
	50% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 1;
	}
}


#div1{
	border: solid 4px pink;
	width: auto;
	display:flex;
	position:relative;
	margin-top: 80px;
	flex-direction: row;
	justify-content: space-around;
}

#div1 div
{
	text-align: center;
	overflow: hidden;
	border: dashed 1px red;
	height: auto;
}

#div1 p{
	margin: 0px;
	padding: 0px;
}

#div1 h2{
	margin: 0px;
	padding: 0px;
}

#div2{
	width: 23%;
	background-color: rgba(171, 022, 246, 0.8);
}

#div3{
	width: 50%;
	background-color: rgba(255, 111, 105, 0.8);
}

#para_form{

	height: 100px;
}

#div4{
	width: 23%;
	background-color: rgba(000, 255, 187, 0.8);;
}

@media (max-width:800px){

	#bg{
		height: auto;
	}

	#div1{
		flex-direction: column;
		justify-content: normal;
	}

	#div1 div{
		margin: 20px 10px 20px 10px;
	}

	#div2{
		width: auto;
	}

	#div3{
		width: auto;
	}

	#div4{
		width: auto;
	}
}

H2{
	font-size: 4vmin;
}

#hob{
}

#hob img{
	width: 80%;

	filter:saturate(8);
}


ul{
	list-style: none;
	padding: 0;
	border: solid 2px black;
	width: auto;
	text-align: left;
}

#projects{
	display: none;
	background-color: orange;
}

#but{
	background-color: red;
	width: auto;
	animation: rainbow 1.5s infinite;

}

@keyframes rainbow {
	  0% {background-color: red;}
	 10% {background-color: orange;}
	 30% {background-color: yellow;}
	 40% {background-color: green;}
	 70% {background-color: blue;}
	 80% {background-color: purple;}
	100% {background-color: red;}
}

#DL_PDF {
	width: 200px;
	height: 75px;
	border: 2px solid black;
	background-color: transparent;
	color: black;
	position: fixed;
	right: 30px;
	bottom: 30px;
}

#icon_DL_PDF {
	width: 50px;
	height: auto;
	position: fixed;
	right: 30px;
	bottom: 30px;
}

#author {
	text-align: center;
	background-color: cadetblue;
	padding: 0;
	margin: 0;
	margin-bottom: 100px;
}

#author .author-name {
	font-size: 40px;
	margin-bottom: 0;
}

#author .author-separator {
	width: 40%;
	
}

#author .author-job {
	font-size: 20px;
}
